# ============================================
# QuantPulse Production Environment Variables
# Copy to .env on your production server
# ============================================

DATABASE_URL="postgresql://quantpulse:quantpulse_prod@timescaledb:5432/quantpulse?schema=public"
DB_PASSWORD="quantpulse_prod"

REDIS_URL="redis://default:quantpulse_redis_prod@redis:6379"
REDIS_PASSWORD="quantpulse_redis_prod"

BACKEND_PORT=4000
JWT_SECRET="GENERATE_A_SECURE_SECRET"

NEXT_PUBLIC_API_URL="https://ramversingh.com/api"
NEXT_PUBLIC_WS_URL="https://ramversingh.com"

# --- Broker API (MCX Data) --- (Angel One SmartAPI)
ANGEL_CLIENT_ID="A1056523"         # ← YOUR Angel One Client ID (e.g., A12345678)
ANGEL_PASSWORD="8080"          # ← YOUR Angel One PIN/Password

BROKER_API_KEY="4rVlWIGj"
BROKER_API_SECRET="f5450e69-88c7-48af-9c1f-bbcb3fbbe08c"
ANGEL_TOTP_SECRET="CRAYJI2ZF6XRXB64OOY4BD3T2E"

# --- Global Market APIs ---
ALPHA_VANTAGE_API_KEY="5UXQFWTHDVE524FT"
TWELVE_API_KEY="90b68c53e9c3436993af798cb2a1ad49 "

# --- Forex --- (1500 request / month)
USD_INR_API_KEY="3b8843a0bb39251bb33bf63f" # Exchange Rate APi

# --- NEWS ---
NEWS_API_KEY="b78dda771d844c4d9d76cd2c65e6c5a4"
